<h2>Login</h2>
<form id="login-form" class="d-grid gap-2">
  <label for="fname">Username:</label>
  <input type="text" id="username-login" placeholder="Username"/>
  <label for="fname">Password:</label>
  <input type="password" id="password-login" placeholder="Password"/>
  <input type="submit" class="btn submitBtn"></input>
</form>
<p id="loginConfirmation"></p>

<h2>Sign-up</h2>
<form id="signup-form" class="d-grid gap-2">
  <label for="fname">Username:</label>
  <input type="text" id="username-signup" placeholder="Username"/>
    <label for="fname">Password:</label>
  <input type="password" id="password-signup" placeholder="Password"/>
  <input type="submit" class="btn submitBtn"></input>
</form>
<p id="signupConfirmation"></p>

<script src="/js/login-signup.js"></script>