<h2>Create New Blog</h2>
<form id="create-blog-form" class="d-grid gap-2">
  <label>Title:</label>
  <input type="text" id="newBlogTitle" placeholder="Title"/>
  <label>Content:</label>
  <textarea name = "content" id="newBlogContent" rows="5" placeholder="Blog Content..."/></textarea>
  <input type="submit" id="newBlogBtn" class="btn"></input>
</form>

<script src="/js/newBlog.js"></script>