<h2>Create New Post</h2>
<form id="create-blog-form">
  <label>Title:</label>
  <input type="text" id="newBlogTitle" placeholder="Title"/>
  <label>Content:</label>
  <textarea name = "content" id="newBlogContent"/></textarea>
  <input type="submit"></input>
</form>

<script src="/js/newBlog.js"></script>